.aboutUs {
  justify-content: space-between;
  display: flex;
  align-items: center;
  gap: 2rem;
  background-color: #fff;
  padding: 30px;
  border-radius: 15px 15px 0 0;
}

.aboutTxt {
  max-width: 560px;
  text-align: left;
}

.aboutTxt span {
  color: #000;
  font-weight: 700;
  padding: 7px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.aboutTxt h2 {
  margin-top: 30px;
  font-size: clamp(2rem, 4.5vw, 3rem);
  margin-bottom: 20px;
}

.aboutTxt p {
  margin-bottom: 20px;
  color: rgba(0, 0, 0, 0.73);
}

.aboutImg img {
  width: min(500px, 100%);
  height: auto;
}

@media (max-width: 900px) {
  .aboutUs {
    flex-direction: column;
    text-align: center;
  }

  .aboutTxt {
    text-align: center;
  }
}
